Setup_Scripts/__pycache__

# Don't track user's configurations
# Not everything in the config directory is a user config, some are essential backbone files
config/PremiereWithAHKConfig.ini
config/userMadeHotkeys.json
config/userPremiereKeybinds.json
config/GeneratedHotKeys.ahk

# Don't track placeholder files for development
Setup.exe.txt
Taran_Files_To_Compare