Setup_Scripts/__pycache__

# Don't track user's configurations
# Not everything in the config directory is a user config, some are essential backbone files
config/PremiereWithAHKConfig.ini
config/userMadeHotkeys.json
config/userPremiereKeybinds.json
#config/GeneratedHotKeys.ahk # Uncomment this after the default file has been added to github

# Don't track placeholder files for development
Setup.exe.txt
Taran_Files_To_Compare

# Once this gets added to the github in it's basic form, add it to the gitignore
# it needs to be an empty file that users have, but any updates beyond that are by updating the template file
#config/GeneratedHotKeys.ahk